.App {
  text-align: center;

  &>header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    height: 56px;

    &>h1 {
      font-size: 24px;
      margin: 0px 32px;
    }
  }

  &>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 80px);
    height: calc(100vh - 180px);
    margin-top: 60px;
    margin-left: 40px;

    &>div {
      width: calc(50% - 20px);
      height: 100%;

      &:nth-child(1) {
        &>img {
          width: 60%;
          height: 60%;
          margin-top: 16px;
        }

        &>div {
          width: 60%;
          text-align: left;
          margin-left: 20%;
          font-size: 20px;
          margin-top: 16px;
          font-weight: 500;
        }
      }

      &:nth-child(2) {
        &>div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 6px 24px;
          background-color: #56fc;
          margin-bottom: 20px;

          &>h1 {
            text-align: left;
            font-size: 18px;
            // color: ;
            margin: 0px;
          }

          &>div {
            width: 120px;
            text-align: left;
          }
        }
      }
    }
  }
}